:root {
  --white: #ffffff;
  --grey: #adb5bd;
  --border-1: #DDDDDD;
  --border-2: #EEEEEE;
  --primary: #6979f8;
  --primary-hover: #28369f;
  --second: #FFA26B;
  --second-hover: #dc6e27;
  --success: #00C48C;
  --success-hover: #35856b;
  --success-light: #7DDFC3;
}